body {
  margin: 0;
  background: #fffefe;
  font: 600 16px/18px 'Open Sans', sans-serif;
}

*,
:after,
:before {
  box-sizing: border-box
}

/* 팝업 배경 스타일 */
.modal-bg {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(2px);
  z-index: 999;
}
/* 팝업 배경 스타일 끝 */

/* 모달창 래디오 체크박스 지우기 */
.gs-html .gs-up,
.gs-html .gs-in,
.qs-html .qs-in,
.sotal-html .sign-in,
.login-html .sign-in,
.login-html .sign-up,
.whos-html .search-in,
.whos-html .search-up
{
  display: none;
}
/* 모달창 래디오 체크박스 지우기 끝 */

/* 인풋, 텍스트에어리어 플레이스홀더 컬러 */
textarea::placeholder,
input::placeholder {
  color: #ccc;
  font-weight: bold;

}
textarea::placeholder,
input::-webkit-input-placeholder {
  color: #ccc;
  font-weight: bold;
}

input:-ms-input-placeholder {
  color: #ccc;
  font-weight: bold;
}
/* 인풋, 텍스트에어리어 플레이스홀더 컬러 끝 */

/* 모달창 아래 줄 */
.hr {
  height: 2px;
  margin: 60px 0 50px 0;
  background: rgba(255, 255, 255, .2);
}
/* 모달창 아래 줄 끝*/

/* --------------------------------------------

/* 회원가입 보안강도 프로그레스바*/
#meter {
    appearance: none;
    float: right;
}
#meter::-webkit-progress-bar {
    background: #20264A;
    border-radius: 20px;
    width: 160px;
    height: 10px;
    margin-top: 10px;
}
#meter::-webkit-progress-value {
    border-radius: 20px;
    background: var(--c, red);

}
#meter[value]::-webkit-progress-value{
    transition: width 0.8s;
}
/* 회원가입 보안강도 프로그레스바 끝*/

/* 회원가입 보안문구*/
.textbox{
   color: #fff;
   font-size : 14px;
   float: right;
   margin-top: 5px;
}
/* 회원가입 보안문구 끝*/

/*건의함 로그인창 위치, 레이아웃*/
.ggs-wrap{
  display: none;
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 730px;
  background: #fff;
  z-index: 1000;
  border-radius: 25px;
}


.gs-wrap{
  margin: auto;
  max-width: 730px;
  min-height: 670px;
  position: relative;
  background: url("../imges/introbg.jpg") no-repeat;
  background-position: 50% 17%;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .24), 0 17px 50px 0 rgba(0, 0, 0, .19);
  border-radius: 25px;
}
/*건의함 로그인창 위치, 레이아웃 끝*/

/*건의함제외 나머지창 위치, 레이아웃*/
.qss-wrap,
.hsotal-wrap,
.modal-wrap,
.whos-wrap {
  display: none;
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 500px;
  background: #fff;
  z-index: 1000;
  border-radius: 25px;

}

.qs-wrap,
.sotal-wrap,
.login-wrap,
.number-wrap {
  width: 100%;
  margin: auto;
  max-width: 525px;
  min-height: 670px;
  position: relative;
  background: url("../imges/introbg.jpg") no-repeat;
  background-position: 50% 17%;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .24), 0 17px 50px 0 rgba(0, 0, 0, .1);
  border-radius: 25px;
}
/*건의함제외 나머지창 위치, 레이아웃끝*/

/*건의함 회원목록 테이블 크기 및 스크롤*/
#tablewrapper,
#tablewrapper2{
   width: 600px;
    height: 400px;
    overflow: auto;
    position: relative;
}


/*건의함 회원목록 테이블 크기 및 스크롤 끝*/


/* 모달창 배경 투명화 및 이미지정렬 */

.qs-form .input,
.qs-form .button,
.sotal-form .group .input,
.sotal-form .group .button,
.search-in-htm .group .input,
.login-form .group .input,
.login-form .group .button {
  border: none;
  padding: 15px 20px;
  background: rgba(255, 255, 255, .1);
}

.gs-html,
.qs-html,
.sotal-html,
.login-html,
.whos-html {
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 90px 70px 50px 70px;
  background: rgba(31, 37, 74, .9);
  border-radius: 20px;
}
/* 모달창 배경 투명화 및 이미지정렬 끝 */

/*----------------건의함 회원목록 버튼--------------*/
#messagebtn,
#memberbtn {
  bottom: 20%;
  position: relative;
  float: right;
  width: 25%;
  color: #fff;
  display: block;
  border-color: rgb(59, 59, 252);
  box-shadow: 0 0 40px 40px rgb(59, 59, 252) inset, 0 0 0 0 rgb(59, 59, 252);
  transition: all 150ms ease-in-out;
  height: 35px;
  border-radius: 10px;
  background: rgba(255, 255, 255, .1);
  border: none;
  padding: 0px 10px;
  margin-bottom: 15px;
}
#messagebtn:hover,
#memberbtn:hover{
  box-shadow: 0 0 10px 0 rgb(59, 59, 252) inset, 0 0 10px 4px rgb(59, 59, 252);
}
/*----------------건의함 회원목록 버튼 끝------------*/

/* 건의함 화면전환 애니메이션 */
.gs-html .gs-in-htm,
.gs-html .gs-up-htm {
   top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     position: absolute;
     transform: rotateY(180deg);
     backface-visibility: hidden;
}
/* 화면전환 애니메이션 끝 */


/* 로그인창 후스넘버 화면전환 애니메이션 */
.login-html .sign-in-htm,
.login-html .sign-up-htm,
.whos-html .search-in-htm,
.whos-html .search-up-htm {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  transform: rotateY(180deg);
  backface-visibility: hidden;
  transition: all .4s linear;
}
/* 로그인창 후스넘버 화면전환 애니메이션 끝 */

/* 모달창 텍스트 모두 대문자로 변경 */
.gs-html .tab,
.qs-html .tab,
.sotal-html .tab,
.whos-html .tab,
.search-form .group .label,
.search-form .group .button,
.login-html .tab,
.login-form .group .label,
.login-form .group .button {
  text-transform: uppercase;
}

/* 모달창 텍스트 모두 대문자로 변경 끝*/

/* 메뉴 클릭시 효과 및 배치 */
.gs-html .tab,
.qs-html .tab,
.sotal-html .tab,
.whos-html .tab,
.login-html .tab {
  font-size: 22px;
  margin-right: 15px;
  padding-bottom: 5px;
  margin: 0 15px 10px 0;
  display: inline-block;
  border-bottom: 2px solid transparent;
}

.gs-html .gs-up:checked+.tab,
.gs-html .gs-in:checked+.tab,
.qs-html .qs-in:checked+.tab,
.sotal-html .sign-in:checked+.tab,
.whos-html .search-in:checked+.tab,
.whos-html .search-up:checked+.tab,
.login-html .sign-in:checked+.tab,
.login-html .sign-up:checked+.tab {
  color: #fff;
  border-color: #1161ee;
}

/* 메뉴 클릭시 효과 및 배치 끝 */

/* 로그인폼 속성 */
.gs-form,
.qs-form,
.sotal-form,
.search-form,
.login-form {
  min-height: 345px;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
}

.qs-in-htm .group,
.search-in-htm .group {
  margin-top: 30px;
  margin-bottom: 30px;
}

.search-up-htm {
  margin-top: 30px;
}

.qs-form .group,
.login-form .group {
  margin-bottom: 25px;
  margin-top: 10px;
}

/* 로그인폼 속성 끝*/

/* 후스넘버창+검색버튼+텍스트 에어리어 */
.qs-in-htm .group .input{
  float: left;
  width: 100%;
  height: 50px;
  color: #fff;
  display: block;
  border-radius: 10px;
  background: rgba(255, 255, 255, .1);
  border: none;
  margin-bottom: 30px;
}
.search-in-htm .group .input {
  float: left;
  width: 70%;
  height: 50px;
  color: #fff;
  display: block;
}

.search-in-htm .group .button {
  width: 30%;
  color: #fff;
  height: 50px;
  display: block;
}

.qs-in-htm .group textarea,
.search-in-htm .group textarea {
  width: 100%;
  color: #fff;
  display: block;
}

.qs-in-htm .group textarea,
.search-in-htm .group textarea {
  border: none;
  padding: 15px 20px;
  border-radius: 10px;
  background: rgba(255, 255, 255, .1);
  height: 300px;
}
/* 후스넘버창+검색버튼+텍스트 에어리어 끝 */

/* 버튼들 텍스트컬러 */
.qs-form .button,
.sotal-form .group .input,
.login-form .group .label,
.login-form .group .input,
.login-form .group .button {
  width: 100%;
  color: #fff;
  display: block;
}
/* 버튼들 텍스트컬러 끝 */




/* 로그인창 개인정보 수정 라벨글씨 */
.sotal-form .group .label,
.login-form .group .label {
  color: #aaa;
  font-size: 12px;
}
/* 로그인창 개인정보 수정 라벨글씨끝 */

/* 버튼 색상 */
.sotal-form .group .button,
.search-form .group .button,
.login-form .group .button {
  border-color: rgb(59, 59, 252);
  color: #fff;
  box-shadow: 0 0 40px 40px rgb(59, 59, 252) inset, 0 0 0 0 rgb(59, 59, 252);
  transition: all 150ms ease-in-out;
  margin-top: 10%;
}

.qs-form .button{
   border-color: rgb(59, 59, 252);
     color: #fff;
     box-shadow: 0 0 40px 40px rgb(59, 59, 252) inset, 0 0 0 0 rgb(59, 59, 252);
     transition: all 150ms ease-in-out;
     margin-top: 5%;
}

#su {
  float: right;
  width: 40%;
  color: #fff;
  display: block;
}


.sotal-up-htm .group {
  margin-top: 30px;
  margin-bottom: 30px;
}

/* 버튼 눌렀을시 색상 변경*/
.qs-form .button:hover,
.sotal-form .group .button:hover,
.search-form .group .button:hover,
.login-form .group .button:hover {
  box-shadow: 0 0 10px 0 rgb(59, 59, 252) inset, 0 0 10px 4px rgb(59, 59, 252);
}



/* 로그인창, 후스넘버, 건의함 화면 전환효과 축 */
.gs-html .gs-in:checked+.tab+.gs-up+.tab+.gs-form .gs-in-htm,
.whos-html .search-in:checked+.tab+.search-up+.tab+.search-form .search-in-htm,
.login-html .sign-in:checked+.tab+.sign-up+.tab+.login-form .sign-in-htm {
  transform: rotate(0);
}
.gs-html .gs-up:checked+.tab+.gs-form .gs-up-htm,
.whos-html .search-up:checked+.tab+.search-form .search-up-htm,
.login-html .sign-up:checked+.tab+.login-form .sign-up-htm {
  transform: rotate(0);
}
/* 로그인창, 후스넘버, 건의함 화면 전환효과 축 끝 */