/* 텍스트 애니메이션 적용 */
@keyframes showtext{
    from {
        
        transfrom : translateY(10px);
        opacity: 0;
    }
    to{
        transfrom : translateY(0px);
        opacity: 1;
    }
}


/* 전체 선택 */
*{
    font-family: 'Noto Sans KR', sans-serif; /*폰트*/
    list-style: none; /* 목록에 점 없애는 기능*/
    text-decoration: none; /* 텍스트에 밑줄 없애는 기능 */
    border-collapse:collapse;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    color: black;
}

/* 배경화면 이미지 */
#intro_bg{
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("../imges/introbg.jpg");
    width: 100%;
    height: 100vh;
    background-size: cover;
}


#header{
    display: flex;
    width: 1400px;
    margin: auto;
    height: 86px;
} 
#platform{
    display: flex;
    width: 350px;
    height: 28px;
    margin-top: 30px;
    z-index: 1001;
    animation: showtext 2s; /* 3초 뒤 텍스트 표시*/
}
#platform > h3 > a{
    color: white;
    font-size: 22px;
    text-shadow: 2px 2px 8px rgb(26, 26, 26);
}


/* 로그인 헤더*/
#nav{
    display: flex;
    justify-content: flex-end;
    line-height: 86px;
    width: calc(1400px - 300px);
}

/* 로그인창 */
#nav > button{
    margin-left: 25px;
}
#nav > li > button, #nav>li>a{
    font-weight: bold;
    color: white;
    background-color: rgb(32, 37, 74);
    font-size: 15px;
    animation: showtext 2s;

    border: none;
}
#nav > li > button:hover, #nav>li>a:hover {
    color: lightskyblue;
}

#idcheck{
  border-color: rgb(59, 59, 252);
  color: #fff;
  box-shadow: 0 0 40px 40px rgb(59, 59, 252) inset, 0 0 0 0 rgb(59, 59, 252);
  transition: all 150ms ease-in-out;
  float: right;
  width: 25%;
  display: block;
  border: none;
  padding: 0px 10px;
  background: rgba(255, 255, 255, .1);
}

#idcheck:hover{
  box-shadow: 0 0 10px 0 rgb(59, 59, 252) inset, 0 0 10px 4px rgb(59, 59, 252);
}


body{
    -ms-overflow-style: none;
}

::-webkit-scrollbar {
    display: none;
}

/* 텍스트 간격 띄우기 */
#a {
	margin-right: 40px;
	cursor: pointer;
}


/* 가운데 텍스트 */
#intro_text{
    width: 100%;
    margin: 180px auto 180px auto;
    text-align: center;
}
#intro_text > h1{
    color: white;
    text-shadow: 2px 2px 10px rgb(26, 26, 26);
    font-size: 48px;
    font-weight: 100;
    animation: showtext 2s; /* 3초 뒤 텍스트 표시*/
}

/* 데이터 정보 */
#list_data{
    position: relative;
    top: -120px;
    width: 1280px;
    display: flex;
    margin: auto;	
    animation: showtext 2s; /* 3초 뒤 텍스트 표시*/
}
#list_data > li{
    flex: 1; /*구역에 한자리씩 차지*/
    height: 132px;
}
#list_data > li > div{
    text-align: center;
    margin-top: 20px;
    height: 50px;
}
#list_data > li:not(:last-child) > div{ /* 데이터 마지막 보더 빼기 */
    border-right: 1px solid white ;
}

/*main_status CSS id 교체 함*/
#CC_year {
	font-size: 15px;
	font-weight: 100;
	color: white;
}

#VP_year {
	font-size: 15px;
	font-weight: 100;
	color: white;
}

#IDT_Status_year {
	font-size: 15px;
	font-weight: 100;
	color: white;
}

#list_text1 {
	font-size: 15px;
	font-weight: 100;
	color: white;
}

#list_text2 {
	font-size: 15px;
	font-weight: 100;
	color: white;
	margin-bottom: 5%;
}

#CC_cnt {
	font-size: 30px;
	font-weight: lighter;
	color: white;
}

#VP_cnt {
	font-size: 30px;
	font-weight: lighter;
	color: white;
}

#IDT_Status_won {
	font-size: 30px;
	font-weight: lighter;
	color: white;
}
/* #list_text1{
    font-size: 15px;
    font-weight: 100;
    color: white;
}
#list_text2{
    font-size: 15px;
    font-weight: 100;
    color: white;
}
#list_text3{
    font-size: 25px;
    font-weight: lighter;
    color: white;
    float: none;
} */

/* 아이콘 태그 정보 시작 */
#icon_tag{
    position: relative;
    display: flex;
    margin: auto;
    width: 1280px;
    top: 50px;
    animation: showtext 2s; /* 3초 뒤 텍스트 표시*/
}
#icon_tag > li{
    flex: 1;
    height: 100px;
}
#icon_tag > li > div{
    text-align: center;
    margin-top: 20px;
    height: 50px;
}
#img_t{
    position: relative;
    margin: auto;
    width: 45px;
    height: 45px;
}
/* 아이콘 태그 정보 끝 */





/* 탑 업 다운 버튼 시작점 */
#btn_top{
    position: fixed;
    right: 10px;
    bottom: 20px;
    z-index: 999;    /* 레이어 숫자가 클수록 제일 위에 위치 */
    cursor: pointer; /*  커서 포인트*/
    opacity: 0.7;
    border-radius: 50%; /* 모서리 라운드 */
}
#btn_top:hover{
    transition: 0.3s;
    transform: scale(1.1);
}

/* Main Page */
/* 차트 크기에 맞게 사이즈 변경 */
.title_size1 {
	width: 100%;
	height: 80vh;
	background-size: cover;
	background-color: rgb(236, 239, 245);
	padding-bottom: 2%;
}

.title_size2 {
	width: 100%;
	height: 75vh;
	background-size: cover;
	background-color: rgb(255, 255, 245);
	padding-bottom: 2%;
}

.title_size3 {
	width: 100%;
	height: 100vh;
	background-size: cover;
	background-color: rgb(236, 239, 245);
	padding-bottom: 2%;
}

.title_size5 {
	width: 100%;
	height: 80vh;
	background-size: cover;
	background-color: rgb(236, 239, 245);
	padding-bottom: 2%;
}

.title_size>div { /* 차트 크기에 맞게 사이즈 변경 후 div 영역 일정하게 공백 지정 */
	padding-bottom: 2%;
}
/* 
페이지 목록 정리 
.title_size:nth-last-of-type(5) {
	background-color: rgb(236, 239, 245);
}

.title_size:nth-last-of-type(4) {
	background-color: rgb(255, 255, 245);
}

.title_size:nth-last-of-type(3) {
	background-color: rgb(236, 239, 245);
}

.title_size:nth-last-of-type(2) {
	background-color: rgb(255, 255, 245);
}

.title_size:nth-last-of-type(1) {
	background-color: rgb(236, 239, 245);
} 
*/

/* page 제목*/
#pg1-title>h2 {
	padding-top: 40px;
	margin-left: 180px;
	font-size: 50px;
}
/* page 내용*/
#pg1-title>h3 {
	width: 80%;
	height: 50px;
	margin-top: 30px;
	margin-left: 200px;
	font-size: 20px;
}

/* 뉴스 슬라이드 정보 구현 */
.swiper {
    width: 100%;
    height: 400px;
    margin: 120px auto;
}
.swiper-slide {
    text-align: center;
    font-size: 12px;  /* 수정함 */
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    border-radius: 10%;
}

/* 뉴스 이미지 사이즈 */
.news_img_size{
	width: 65%;

}
/* 뉴스 로딩창 */
.loading { 
  	width:0px;
  	height:0px; 
  	z-index:9999; 
  	background:#f0f0f0; 
  	filter:alpha(opacity=50); 
  	opacity:alpha*0.5;
  	margin:auto; 
  	padding:0; 
  	text-align:center
  }

/* 스팸번호 결과창 */
#search-result{   
	font-size: 25px;
	text-align: center;
	line-height: 250px;
}

/* 스팸조회 리스트 */
#table_div{ 
	overflow:scroll;
	height:450px; 
	width:365px;
	align-content: center;
}

/*여기서부터 봉봉*/
/* 타이틀 margin-bottom */
#pg1-title {
	margin-bottom: 50px;
}

/* topic class 좌우로 */
.topic {
	float: left;
	width: 30%;
	height: 80%;
	padding-left: 4%;
	padding-top: 2%;
}

.topic2 {
	float: left;
	width: 20%;
	height: 80%;
	background-size: cover;
	padding-left: 2%;
}

.topic3 {
	float: left;
	width: 50%;
	height: 80%;
	background-size: cover;
	padding-left: 2%;
	padding-right: 2%;
}
/* topic_Cyber 크기 조절 */
.topic_Cyber1 {
	float: left;
	width: 55%;
	height: 44%;
	padding-left: 4%;
}

.topic_Cyber2 {
	width: 100%;
	height: 100%;
}

.topic_Cyber3 {
	float: left;
	width: 44%;
	height: 44%;
	padding-left: 2%;
	padding-right: 2%;
}
/* topic_VP 크기 조절 */
.topic_VP1 {
	float: left;
	width: 45%;
	height: 80%;
}

.topic_VP2 {
	float: left;
	width: 54%;
	height: 80%;
	padding-left: 2%;
	padding-right: 2%;
}

.topic_VP3 {
	width: 100%;
	height: 55%;
}

/* topic 안에 글자 크기와 영역 크기 조정 */
.ge_year {
	margin-bottom: 2%;
}

.ge_year>span {
	font-size: 30px;
}

.Cyber_ge_year {
	margin-top: 2%;
	margin-bottom: 2%;
}

.Cyber_ge_year>span {
	font-size: 30px;
}

.topic_status {
	width: 100%;
	height: 20%;
	margin-bottom: 4%;
	padding-left: 4%;
}

/* status class 좌우로 */
.status1 {
	float: left;
	width: 50%;
	height: 80%;
}

.status2 {
	float: left;
	width: 50%;
	height: 80%;
	padding-left: 15%;
}

.status3 {
	float: left;
	width: 50%;
	height: 30%;
}

.Cyber_Statistics_status1 {
	float: left;
	width: 22%;
	height: 80%;
	margin-bottom: 2%;
}

.Cyber_Statistics_status2 {
	float: left;
	width: 20%;
	height: 80%;
	padding-left: 5%;
	margin-bottom: 2%;
}

.Cyber_Statistics_status3 {
	float: left;
	width: 58%;
	height: 80%;
	margin-bottom: 2%;
}

/* status 글자크기 조정 */
.status1>h4 {
	font-size: 15px;
	margin-bottom: 7%;
	margin-top: 3%;
}

.status2>h4 {
	font-size: 15px;
	margin-bottom: 10%;
	margin-top: 3%;
}

.status3>h4 {
	font-size: 15px;
	margin-bottom: 5%;
}

/* status 글자크기 조정 */
.status1>span {
	font-size: 40px;
}

.status2>span {
	font-size: 40px;
}

.status3>span {
	font-size: 40px;
}
/* status 글자크기 조정 */
.Cyber_Statistics_status1>h4 {
	font-size: 15px;
	margin-bottom: 7%;
}

.Cyber_Statistics_status2>h4 {
	font-size: 15px;
	margin-bottom: 10%;
}

.Cyber_Statistics_status3>h4 {
	font-size: 15px;
	margin-bottom: 3%;
}

/* status 글자크기 조정 */
.Cyber_Statistics_status1>span {
	font-size: 35px;
}

.Cyber_Statistics_status2>span {
	font-size: 35px;
}

.Cyber_Statistics_status3>span {
	font-size: 35px;
}

/* select 버튼 CSS */
.select1 {
	width: 30%;
	height: 6%;
	margin-top: 5px;
	margin-left: 5px;
	font-size: 20px;
}

.select2 {
	width: 60%;
	height: 6%;
	margin-top: 5px;
	margin-left: 0px;
	font-size: 20px;
}

.select3 {
	float: right;
	width: 20%;
	height: 4%;
	margin-top: 5px;
	margin-left: 5px;
	font-size: 15px;
	width: 20%;
}

.select4 {
	float: right;
	width: 10%;
	height: 10%;
	margin-left: 5px;
	font-size: 20px;
}

.select5 {
	float: right;
	width: 10%;
	height: 10%;
	margin-left: 5px;
	font-size: 20px;
}

.select6 {
	float: right;
	width: 21%;
	height: 10%;
	margin-left: 5px;
	font-size: 20px;
}

.select7 {
	float: left;
	width: 20%;
	height: 12%;
	margin-left: 5px;
	font-size: 20px;
}

.select8 {
	float: right;
	width: 21%;
	height: 6%;
	margin-left: 5px;
	font-size: 20px;
}

.select9 {
	float: left;
	width: 50%;
	height: 8%;
	margin-left: 5px;
	font-size: 20px;
}

/* geo chart(지역차트)와 table chart(테이블 차트)를 좌우로 띄우면서 크기 조절 */
.chart:after {
	width: 100%;
	height: 100%;
	clear: both;
	display: block;
	content: '';
}

.centered {
	display: table;
	margin-left: auto;
	margin-right: auto;
	display: inline-block;
}
/* chart 영역 좌우로 나란히 */
.chart_area {
	float: left;
}
/* chart 테이블차트 */
.chart .chart-item1 {
	float: left;
	width: 100%;
	height: 100%;
	text-align: center;
	margin-right: 2%;
	margin-top: 5%;
}
/* chart 지역 차트 */
.chart .chart-item2 {
	float: left;
	width: 100%;
	height: 100%;
	text-align: center;
}

.chart .chart-item.last {
	float: right;
	border-right: none;
}
/*사이버 범죄 통계 chart CSS*/
.chart .chart-item3 {
	width: 100%;
	height: 100%;
	text-align: center;
	border-right: 1px solid #ddd;
	margin-top: 2%;
}
/*보이스피싱 성별 chart CSS*/
.chart .chart-item4 {
	float: left;
	width: 22%;
	height: 22%;
	text-align: center;
	border-right: 1px solid #ddd;
	margin-top: 2%;
}
/*보이스피싱 나이 chart CSS*/
.chart .chart-item5 {
	float: right;
	width: 730px; /*고정크기로 안주면 select 이벤트 발생할 때마다 차트크기 변화댐...*/
	height: 300px;
	text-align: center;
	border-right: 1px solid #ddd;
	margin-top: 2%;
	padding-left: 3%;
}
/*보이스피싱 유형별 chart CSS*/
.chart .chart-item6 {
	width: 800px; /*고정크기로 안주면 select 이벤트 발생할 때마다 차트크기 변화댐...*/
	height: 600px;
	text-align: center;
	border-right: 1px solid #ddd;
	margin-top: 2%;
	margin-left: 10%;
}
/* iframe 옆으로 붙이기*/
.VP_story {
	width: 100%;
	height: 50%;
}

.VP_status {
	float: left;
	width: 39%;
	height: 40%;
}

iframe {
	float: left;
	margin-left: 2%
}
/* VP_유형 크기 조절 */
.VP_status_kind {
	float: left;
	width: 49%;
	height: 50%;
	padding-top: 5%;
}

.VP_status_pct {
	float: left;
	width: 49%;
	height: 50%;
	padding-left: 2%;
	padding-right: 2%;
	margin-bottom: 10%;
}
/* status 글자크기 조정 */
.VP_status_kind>h4 {
	font-size: 15px;
}

.VP_status_kind>span {
	font-size: 35px;
}

.VP_status_pct>h4 {
	font-size: 15px;
	margin-bottom: 10%;
}

.VP_status_pct>span {
	font-size: 35px;
}

.VP_story_p {
	line-height:2.5em;
	width: 100%;
	height: 100%;
	border-right: 1px solid #ddd;
	padding-right: 5%;
}

/* 합치고 나서 마무리 CSS 다듬기 */



